<div class='slide' data-id='{id}' data-pos='{pos}'>
    <div class='slide-top' style='background-image: url({image});'>
        <div class='title-top'>{title_top}</div>
        <div class='text-top'>{text_top}</div>
    </div>
    <div class='slide-back'>
        <div class='title-back'>{title_back}</div>
        <div class='text-back'>{text_back}</div>
        <div class='slide-links flexbox row'>
            {links}
        </div>
    </div>
</div>
