body {
    background: #009688; color: white; font: 12px serif;
}
a, input, div {
    outline: none;
}
h1 {
    text-align: center; color: black; font: bold 28px sans-serif;
}
a {
    color: #fb8d8d; text-decoration: underline;
}
a:hover {
    color: #fa9494; text-decoration: none;
}
a:active {
    color: #f7c2c2;
}
a:visited {
    color: #f5a7a7;
}
.row, .col {
    align-items: stretch;
}
.row {
    flex-direction: row; justify-content: space-between;
}
.col {
    flex-direction: column; justify-content: space-between;
}
.flexbox {
    display: flex; justify-content: center;
}
#profile-img {
    width: 20px; height: 20px; position: absolute; top: 10px; right: 10px; border-radius: 100%;
    cursor: pointer;
}
#slidesbox {
    width: 1050px; margin: 0 auto;
}
#content {
    width: 620px; min-height: 410px; margin: 0 auto;
}
.more-slides {
    width: 204px; height: 412px; display: none; background: rgba(0, 0, 0, 0.1);
}
#mirror-container {
    width: 204px; height: 204px; background: rgba(0, 0, 0, 0.1); display: none;
}
#manage {
    width: 260px; display: none; position: absolute; top: 30px; right: 10px;
}
header, #manage, #paginator, #content {
    margin: 10px auto;
}
#paginator {
    width: 300px; margin: 30px auto;
}
.num {
    font: 26px monospace;
}
#back, #go {
    width: 32px; height: 32px; cursor: pointer; border-radius: 100%;
}
#back:hover, #go:hover, #profile-img:hover {
    filter: blur(1px);
}
#back:active, #go:active, #profile-img:active {
    filter: blur(2px);
}
#back, #go, .button, .slide-links a {
    margin: 0 auto;
}
.slide, .add-block {
    display: inline-block;
}
.slide {
    width: 200px; height: 200px; margin: 2px; position: relative; color: white;
}
.slide-top, .slide-back {
    width: 100%; height: 100%; position: absolute;
}
.slide-top, .slide {
    background: #795548; border-radius: 10px;
}
.slide-top {
    z-index: 1;
}
.text-back, .text-top, .slide-links {
    text-align: justify; margin: 5px;
}
.title-back, .title-top {
    min-height: 16px; margin: 5px; text-align: center; font: bold 13px sans-serif;
}
.text-top, .text-back {
    min-height: 14px; border-radius: 6px; color: black; padding: 2px;
    background: rgba(255, 255, 255, 0.5);
}
.slide-links {
    width: 196px; flex-wrap: wrap;
}
.slide-links a {
    flex-direction: column; justify-content: space-between;
}
#login, #edit-slide, #link-edit {
    position: fixed; z-index: 2; display: none;
}
#edit-slide {
    width: 420px; height: 230px; left: calc(50% - 210px); top: calc(50% - 115px); padding: 10px;
    background: #e3c3c3;
}
#edit-slide .left-slide .slide-top {
    display: block !important; opacity: 1 !important;
}
#edit-slide .right-slide .slide-top {
    display: none !important;
}
#edit-slide .left-slide {
    float: left;
}
#edit-slide .right-slide {
    float: right;
}
.edit-buttons {
    width: calc(100% - 20px); position: absolute; left: 10px; bottom: 5px;
}
.input-links {
    width: calc(100% - 10px); margin: 2px; font: 12px serif; color: black; text-align: justify;
    background: rgba(255, 255, 255, 0);
}
.text-area {
    height: 80px;
}
#link-edit {
    width: 280px; height: 100px; padding: 5px; top: calc(50% - 100px); left: calc(50% - 100px);
    border: 1px solid black; background: #f6c6c6; color: black; font: bold 13px monospace;
    box-shadow: 0 0 8px black;
}
.in-field {
    margin-bottom: 2px;
}
.in-field input {
    width: 200px;
}
#link-edit .flexbox .text-input {
    color: black;
}
#add-link {
    width: calc(100% - 10px); position: absolute; bottom: 5px; left: 5px; text-align: center;
}
#login {
    width: 200px; height: 130px; left: calc(50% - 100px); top: calc(50% - 50px);
    padding: 10px 3px 10px 3px; background: #f6c6c6; border: 1px solid #ed8888; z-index: 3;
}
.login-input {
    margin-bottom: 2px;
}
.error-label {
    margin: 5px; font: bold 14px monospace; color: black; text-align: center;
}
.pass-label {
    color: black; margin-top: 4px; font: bold 14px monospace;
}
.text-input {
    width: 120px; height: 20px; text-align: center; border: 1px solid #302222; background: #f6dddd;
    color: #ee4e4e; font-size: 12px; display: block;
}
#buttons-block {
    margin-top: 50px;
}
.button {
    height: 24px; font: 12px bold monospace; color: white; padding: auto 6px; padding-top: 0;
    box-shadow: none; cursor: pointer; display: block; border: 0; border-radius: 3px;
    background: #c27474;
}
.button:hover {
    background: #cc9292;
}
.button:active {
    background: #d2a4a4;
}
#login-error, #save-error {
    display: none;
}
#login-error {
    width: 194px; position: absolute; left: 3px;
}
